<mat-card>
  <mat-card-content>
    <img
    src="https://wapp.registraduria.gov.co/electoral/Elecciones-presidente-2022/resultados/IMG/cobranding.png">
  <mat-card-title>Proyecto Mintic </mat-card-title>
  <mat-card-subtitle>Votaciones 2022</mat-card-subtitle>
  <!--Boton mesas-->
    <button mat-raised-button color="primary"
    class="btnMesas" (click)="btnMesas()">Mesas</button>
  <!--Boton partidos-->
    <button mat-raised-button color="accent"
    class="btnPartidos" (click)="btnPartidos()">Partidos</button>
  <!--Boton candidatos-->
    <button mat-raised-button color="primary"
    class="btnCandidatos" (click)="btnCandidatos()">Candidatos</button>
  <!--Boton resultados-->
    <button mat-raised-button color="accent"
    class="Resultados">Resultados</button>
  </mat-card-content>
</mat-card>
