img{
  width: 100%;
  margin-bottom: 2vw;
  height: auto;
}

mat-card-title{
  font-size: 2vw;
  margin-bottom: 2vw;
}
mat-card-subtitle{
  font-size: 2vw;
  margin-bottom: 2vw;
}

mat-card.card2{
  margin-top: 1vw;
  background-image: url("https://images4.alphacoders.com/206/206954.jpg");
  color: rgb(248, 242, 242);
  text-align: center;
  left: 10%;
  width: 60%;
}
table {
  width: 60vw;
  font-size: 100%;
  text-align:center;
}
button{
  width: 20%;
  font-size: 83%;
  margin: 1vw;
}

